body {
    background-image: url('bg-min.jpg');
}

.tag-line {
    font-family: 'Comfortaa', cursive;
    font-size: 5vmin;
    margin: 0%;
    font-style: italic;
}

.brand {
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 5px black;
    color: salmon;
    font-size: 10vmax;
    margin: 0%;
}

#texthover h5 {
    transition: all 300ms;
    color: #64B5F6;
}

#texthover p {
    transition: all 300ms;
}

#texthover i {
    transition: all 300ms;
}

#texthover h5:hover {
    text-shadow: 0px 0px 5px goldenrod;
}

#texthover p:hover {
    text-shadow: 0px 0px 5px goldenrod;
}

#texthover i:hover {
    text-shadow: 0px 0px 5px goldenrod;
}